
#Autosave files
*~

*.DS_Store
Thumbs.db
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
*.sln.cache

Unity/[Ll]ibrary/
Unity/[Tt]emp/
Unity/[Oo]bj/
Unity/[Bb]uild/
Unity/[Bb]uilds/
Unity/Assets/AssetStoreTools*
Unity/*.sln
Unity/*.csproj

Source**/[Oo]bj/
Source**/[Bb]in/
Source**/packages/
Source**/TestResults/

/Unity/Assets/VectorShapes/Plugins/VectorShapes.dll.mdb
/Unity/Assets/VectorShapes/Plugins/VectorShapes.dll.mdb.meta
/Unity/Assets/VectorShapes/Plugins/Editor/VectorShapes-Editor.dll.mdb
/Unity/Assets/VectorShapes/Plugins/Editor/VectorShapes-Editor.dll.mdb.meta
